<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD NodeJS + MongoDB</title>
</head>
<body>

    Simple CRUD with NodeJS & MongoDB

    <ul class="names">
        <% for(var i=0; i<names.length; i++) {%>
        <li class="name">
            <span><%= names[i].first_name %></span>
            <span><%= names[i].last_name %></span>
        </li>
        <% } %>
    </ul>

    <form action="/send" method="POST">
        <input type="text" placeholder="First Name" name="first_name">
        <input type="text" placeholder="Last Name" name="last_name">
        <button type="submit">Submit</button>
    </form>
    <br/><button id="update"> Update </button> <button id="delete"> Delete </button>
<script src="main.js"></script>
</body>
</html>